body {
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 0;
}

:root {
  --width: 134vh;
  --height: 100vh;
  --jar-width: 12;
  --jar-height: 0;
  --left-decoration-width: 0;
  --scoreboard-height: 0;
  --info-width: 0;
  --glass-width: 0;
  --glass-height: 0;
  --tiles-width: 40;
  --tiles-height: 24;
  --dr-bcg-size: 0;
  --dr-bcg-offset: 0;
  --board-offset-x: 0;
  --board-offset-y: 0;
  --offset-x: 16vh;
  --offset-y: 6vh;
  --tile-size: 10px;
  --bcg-tile-size: 10px;
  --background-tile-a: #d6d6d6;
  --background-tile-b: transparent;
  --jar-img: 0;
  --jar-mask: 0;
  --glass-img: 0;
  --info-img: 0;
  --dr-bcg-img: 0;
  --scoreboard-img: 0;
  --yl-left: 0;
  --yl-right: 0;
  --yl-up: 0;
  --yl-down: 0;
  --yl-dot: 0;
  --yl-o: 0;
  --rd-left: 0;
  --rd-right: 0;
  --rd-up: 0;
  --rd-down: 0;
  --rd-dot: 0;
  --rd-o: 0;
  --bl-left: 0;
  --bl-right: 0;
  --bl-up: 0;
  --bl-down: 0;
  --bl-dot: 0;
  --bl-o: 0;
  --yl-x: 0;
  --yl-virus: 0;
  --rd-x: 0;
  --rd-virus: 0;
  --bl-x: 0;
  --bl-virus: 0;
}

.background {
  width: var(--width);
  height: 100vh;
  margin: auto;
  position: relative;
}

.background-fill {
  position: absolute;
  width: var(--width);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--bcg-tile-size))[var];
      grid-template-columns: repeat(var(--tiles-width), var(--bcg-tile-size));
  grid-auto-rows: minmax(var(--bcg-tile-size), auto);
}

.info {
  position: absolute;
  width: var(--info-width);
  height: var(--left-decoration-width);
  right: var(--tile-size);
  bottom: 0;
  background-position: center;
  background-image: var(--info-img);
  background-repeat: no-repeat;
  background-size: var(--info-width) var(--left-decoration-width);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.dr-bcg {
  position: absolute;
  width: var(--dr-bcg-size);
  height: var(--dr-bcg-size);
  right: var(--dr-bcg-offset);
  top: var(--dr-bcg-offset);
  background-image: var(--dr-bcg-img);
  background-repeat: no-repeat;
  background-size: var(--dr-bcg-size) var(--dr-bcg-size);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.scoreboard {
  position: absolute;
  width: var(--left-decoration-width);
  height: var(--scoreboard-height);
  left: var(--tile-size);
  top: var(--tile-size);
  background-position: center;
  background-image: var(--scoreboard-img);
  background-repeat: no-repeat;
  background-size: var(--left-decoration-width) var(--scoreboard-height);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.glass {
  position: absolute;
  width: var(--left-decoration-width);
  height: var(--glass-height);
  left: var(--tile-size);
  bottom: 0;
  background-position: center;
  background-image: var(--glass-img);
  background-repeat: no-repeat;
  background-size: var(--left-decoration-width) var(--glass-height);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.jar {
  position: absolute;
  bottom: var(--offset-y);
  left: var(--offset-x);
  width: var(--jar-width);
  height: var(--jar-height);
  background-image: var(--jar-img);
  background-repeat: no-repeat;
  background-size: var(--jar-width) var(--jar-height);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.jar-mask {
  position: absolute;
  bottom: var(--offset-y);
  left: var(--offset-x);
  width: var(--jar-width);
  height: var(--jar-height);
  background-color: var(--background-tile-a);
  -webkit-mask: var(--jar-mask);
          mask: var(--jar-mask);
  -webkit-mask-size: var(--jar-width) var(--jar-height);
          mask-size: var(--jar-width) var(--jar-height);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.grid-container {
  position: absolute;
  left: var(--board-offset-x);
  bottom: var(--board-offset-y);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--tile-size))[8];
      grid-template-columns: repeat(8, var(--tile-size));
  -ms-grid-rows: (var(--tile-size))[16];
      grid-template-rows: repeat(16, var(--tile-size));
}

.crt::before {
  content: " ";
  display: block;
  width: var(--width);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.05)), color-stop(rgba(0, 255, 0, 0.05)), to(rgba(0, 0, 255, 0.05)));
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.05), rgba(0, 0, 255, 0.05));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

.vignette {
  position: absolute;
  height: 100vh;
  width: var(--width);
  margin: auto;
  background: radial-gradient(transparent 85%, #000000bb), -webkit-gradient(linear, left top, right top, from(#000000bb), color-stop(15%, transparent), color-stop(85%, transparent), to(#000000bb)), -webkit-gradient(linear, left top, left bottom, from(#000000bb), color-stop(5%, transparent), color-stop(95%, transparent), to(#000000bb));
  background: radial-gradient(transparent 85%, #000000bb), linear-gradient(90deg, #000000bb, transparent 15%, transparent 85%, #000000bb), linear-gradient(#000000bb, transparent 5%, transparent 95%, #000000bb);
  background-blend-mode: multiply;
  z-index: 4;
}

.pixel-perfect {
  background-position: center;
  background-size: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.pixel-perfect.virus.yellow {
  background-image: var(--yl-virus);
}

.pixel-perfect.virus.yellow.clear {
  background-image: var(--yl-x);
}

.pixel-perfect.virus.red {
  background-image: var(--rd-virus);
}

.pixel-perfect.virus.red.clear {
  background-image: var(--rd-x);
}

.pixel-perfect.virus.blue {
  background-image: var(--bl-virus);
}

.pixel-perfect.virus.blue.clear {
  background-image: var(--bl-x);
}

.pixel-perfect.pill.yellow.single {
  background-image: var(--yl-dot);
}

.pixel-perfect.pill.yellow.up {
  background-image: var(--yl-up);
}

.pixel-perfect.pill.yellow.down {
  background-image: var(--yl-down);
}

.pixel-perfect.pill.yellow.left {
  background-image: var(--yl-left);
}

.pixel-perfect.pill.yellow.right {
  background-image: var(--yl-right);
}

.pixel-perfect.pill.yellow.clear {
  background-image: var(--yl-o);
}

.pixel-perfect.pill.red.single {
  background-image: var(--rd-dot);
}

.pixel-perfect.pill.red.up {
  background-image: var(--rd-up);
}

.pixel-perfect.pill.red.down {
  background-image: var(--rd-down);
}

.pixel-perfect.pill.red.left {
  background-image: var(--rd-left);
}

.pixel-perfect.pill.red.right {
  background-image: var(--rd-right);
}

.pixel-perfect.pill.red.clear {
  background-image: var(--rd-o);
}

.pixel-perfect.pill.blue.single {
  background-image: var(--bl-dot);
}

.pixel-perfect.pill.blue.up {
  background-image: var(--bl-up);
}

.pixel-perfect.pill.blue.down {
  background-image: var(--bl-down);
}

.pixel-perfect.pill.blue.left {
  background-image: var(--bl-left);
}

.pixel-perfect.pill.blue.right {
  background-image: var(--bl-right);
}

.pixel-perfect.pill.blue.clear {
  background-image: var(--bl-o);
}

.error {
  background-color: white;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
/*# sourceMappingURL=style.css.map */