body {
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 0;
}

.background {
  width: 134vh;
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(45deg, #008267 25%, transparent 26%), linear-gradient(-45deg, #008267 25%, transparent 26%), linear-gradient(45deg, transparent 74%, #008267 75%), linear-gradient(-45deg, transparent 74%, #008267 75%);
  background-size: 10vh 10vh;
  background-position: 0 0, 0 5vh, 5vh -5vh, -5vh 0;
}

.grid-container {
  position: absolute;
  margin-left: 47vh;
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  background-color: #000;
  width: 40vh;
  border: 10px solid #feffae;
  -ms-grid-columns: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
      grid-template-columns: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
  -ms-grid-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
      grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.05)), color-stop(rgba(0, 255, 0, 0.05)), to(rgba(0, 0, 255, 0.05)));
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.05), rgba(0, 0, 255, 0.05));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

.vignette {
  position: absolute;
  width: 134vh;
  height: 100vh;
  margin: auto;
  background: radial-gradient(transparent 85%, black), -webkit-gradient(linear, left top, right top, from(black), color-stop(15%, transparent), color-stop(85%, transparent), to(black)), -webkit-gradient(linear, left top, left bottom, from(black), color-stop(5%, transparent), color-stop(95%, transparent), to(black));
  background: radial-gradient(transparent 85%, black), linear-gradient(90deg, black, transparent 15%, transparent 85%, black), linear-gradient(black, transparent 5%, transparent 95%, black);
  background-blend-mode: multiply;
  z-index: 4;
}

.pixel-perfect {
  background-position: center;
  background-size: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.pixel-perfect.virus.yellow {
  background-image: url("/images/sprites/viruses/yellow_new.png");
}

.pixel-perfect.virus.yellow.clear {
  background-image: url("/images/sprites/viruses/yl_x.png");
}

.pixel-perfect.virus.red {
  background-image: url("/images/sprites/viruses/virus_red.png");
}

.pixel-perfect.virus.red.clear {
  background-image: url("/images/sprites/viruses/br_x.png");
}

.pixel-perfect.virus.blue {
  background-image: url("/images/sprites/viruses/virus_blue.png");
}

.pixel-perfect.virus.blue.clear {
  background-image: url("/images/sprites/viruses/bl_x.png");
}

.pixel-perfect.pill.yellow.single {
  background-image: url("/images/sprites/pills/yl_dot.png");
}

.pixel-perfect.pill.yellow.up {
  background-image: url("/images/sprites/pills/yl_up.png");
}

.pixel-perfect.pill.yellow.down {
  background-image: url("/images/sprites/pills/yl_down.png");
}

.pixel-perfect.pill.yellow.left {
  background-image: url("/images/sprites/pills/yl_left.png");
}

.pixel-perfect.pill.yellow.right {
  background-image: url("/images/sprites/pills/yl_right.png");
}

.pixel-perfect.pill.yellow.clear {
  background-image: url("/images/sprites/pills/yl_o.png");
}

.pixel-perfect.pill.red.single {
  background-image: url("/images/sprites/pills/br_dot.png");
}

.pixel-perfect.pill.red.up {
  background-image: url("/images/sprites/pills/br_up.png");
}

.pixel-perfect.pill.red.down {
  background-image: url("/images/sprites/pills/br_down.png");
}

.pixel-perfect.pill.red.left {
  background-image: url("/images/sprites/pills/br_left.png");
}

.pixel-perfect.pill.red.right {
  background-image: url("/images/sprites/pills/br_right.png");
}

.pixel-perfect.pill.red.clear {
  background-image: url("/images/sprites/pills/br_o.png");
}

.pixel-perfect.pill.blue.single {
  background-image: url("/images/sprites/pills/bl_dot.png");
}

.pixel-perfect.pill.blue.up {
  background-image: url("/images/sprites/pills/bl_up.png");
}

.pixel-perfect.pill.blue.down {
  background-image: url("/images/sprites/pills/bl_down.png");
}

.pixel-perfect.pill.blue.left {
  background-image: url("/images/sprites/pills/bl_left.png");
}

.pixel-perfect.pill.blue.right {
  background-image: url("/images/sprites/pills/bl_right.png");
}

.pixel-perfect.pill.blue.clear {
  background-image: url("/images/sprites/pills/bl_o.png");
}

.error {
  background-color: white;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
/*# sourceMappingURL=style.css.map */