$gs: 5vh;
$board-width: 8 * $gs;
$screen-width: 134vh;

// All colors in the foreground
$gray: #837e85;
$blue: #78a0db;
$yellow: #f4e377;
$red: #9e454c;
// Background colors
$bcg-orange: #ffb68c;
$bcg-brown: #ad5216;
$bcg-red: #901829;
$bcg-green: #008267;
$bcg-blue: #123eb2;

$bcg: $bcg-green;

body {
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 0;
}

.background {
  // background-color: #7C2F27;
  width: 134vh;
  height: 100vh;
  margin: auto;

  background-image: linear-gradient(45deg, $bcg 25%, transparent 26%),
    linear-gradient(-45deg, $bcg 25%, transparent 26%),
    linear-gradient(45deg, transparent 74%, $bcg 75%),
    linear-gradient(-45deg, transparent 74%, $bcg 75%);
  background-size: $gs * 2 $gs * 2;
  background-position: 0 0, 0 $gs, ($gs) (-$gs), (-$gs) 0;
}

.grid-container {
  position: absolute;
  margin-left: $screen-width/2 - $board-width/2;
  margin-top: 10vh;
  display: grid;
  background-color: #000;
  width: $board-width;
  border: 10px solid rgb(254, 255, 174);

  grid-template-columns: $gs $gs $gs $gs $gs $gs $gs $gs;
  grid-template-rows: $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs $gs;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.05), rgba(0, 0, 255, 0.05));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.vignette {
  position: absolute;
  width: 134vh;
  height: 100vh;
  margin: auto;
  background: radial-gradient(transparent 85%, black),
    linear-gradient(90deg, black, transparent 15%, transparent 85%, black),
    linear-gradient(black, transparent 5%, transparent 95%, black);
  background-blend-mode: multiply;
  z-index: 4;
}

// prettier-ignore
.pixel-perfect{
  background-position: center;
  background-size: 100%;
  image-rendering: pixelated;
  &.virus{
    &.yellow { 
      background-image: url("/images/sprites/viruses/yellow_new.png"); 
      &.clear{background-image: url("/images/sprites/viruses/yl_x.png")}
    }
    &.red { 
      background-image: url("/images/sprites/viruses/virus_red.png");
      &.clear{background-image: url("/images/sprites/viruses/br_x.png")}
    }
    &.blue { 
      background-image: url("/images/sprites/viruses/virus_blue.png"); 
      &.clear{background-image: url("/images/sprites/viruses/bl_x.png")}
    }
  }
  &.pill{
    &.yellow {
      &.single { background-image: url("/images/sprites/pills/yl_dot.png") }
      &.up { background-image: url("/images/sprites/pills/yl_up.png")  }
      &.down { background-image: url("/images/sprites/pills/yl_down.png") }
      &.left { background-image: url("/images/sprites/pills/yl_left.png") }
      &.right { background-image: url("/images/sprites/pills/yl_right.png") }
      &.clear { background-image: url("/images/sprites/pills/yl_o.png") }
    }
    &.red { 
      &.single { background-image: url("/images/sprites/pills/br_dot.png") }
      &.up { background-image: url("/images/sprites/pills/br_up.png")  }
      &.down { background-image: url("/images/sprites/pills/br_down.png") }
      &.left { background-image: url("/images/sprites/pills/br_left.png") }
      &.right { background-image: url("/images/sprites/pills/br_right.png") }
      &.clear { background-image: url("/images/sprites/pills/br_o.png") }
    }
    &.blue { 
      &.single { background-image: url("/images/sprites/pills/bl_dot.png") }
      &.up { background-image: url("/images/sprites/pills/bl_up.png")  }
      &.down { background-image: url("/images/sprites/pills/bl_down.png") }
      &.left { background-image: url("/images/sprites/pills/bl_left.png") }
      &.right { background-image: url("/images/sprites/pills/bl_right.png") }
      &.clear { background-image: url("/images/sprites/pills/bl_o.png") }
    }
  }
}

.error {
  background-color: white;
}
// Flicker keyframes are taken from internet to emulate crt look
// prettier-ignore
@keyframes flicker {
  0% { opacity: 0.27861; }
  5% { opacity: 0.34769; }
  10% { opacity: 0.23604; }
  15% { opacity: 0.90626; }
  20% { opacity: 0.18128; }
  25% { opacity: 0.83891; }
  30% { opacity: 0.65583; }
  35% { opacity: 0.67807; }
  40% { opacity: 0.26559; }
  45% { opacity: 0.84693; }
  50% { opacity: 0.96019; }
  55% { opacity: 0.08594; }
  60% { opacity: 0.20313; }
  65% { opacity: 0.71988; }
  70% { opacity: 0.53455; }
  75% { opacity: 0.37288; }
  80% { opacity: 0.71428; }
  85% { opacity: 0.70419; }
  90% { opacity: 0.7003; }
  95% { opacity: 0.36108; }
  100% { opacity: 0.24387; }
}
